rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {


    match /{document=**} {
      allow read: if true; 
      allow write: if request.auth.uid != null;
    }
    match /loginsList/logins {
      allow read: if true;
      allow write: if false;
    }
    match /usersSecure/{login} {
      allow read, write: if request.auth.token.login == login;
    }
    match /usersOpen/{login} {
      allow read: if true;
      allow write: if false;
    }
    match /comments/{id} {
      allow read: if true;
      allow write: if request.auth.token.login != null;
    }
    match /articles/{id} {
      allow read: if true;
      allow write: if request.auth.token.login != null;
    }
    match /articlesContent/{id} {
      allow read: if true;
      allow write: if request.auth.token.login != null;
    }
  }
}