.editor-container {
   width: 100%;
   .switch-btns {
      display: flex;
      justify-content: flex-start;
      .btn {
         font-weight: 600;
         display: block;
         border: none;
         background-color: rgb(224, 224, 224);
         padding: 16px 32px 12px 32px;
      }
      .btn:active,
      .btn:focus {
         outline: none;
      }
      .btn-active {
         color: white;
         text-shadow: 0 0 1px rgba(0, 0, 0, 0.356);
         background-color: #f2cb04;
      }
   }
   .form {
      .input {
         width: 100%;
         border: 1px solid gray;
         border-radius: 3px;
         padding: 8px 5px;
         outline-color: #182126;
         margin: 10px 0;
         resize: none;
      }
      .article-type {
         width: 300px;
         cursor: pointer;
      }
      .article-type:focus,
      .article-type:active {
         outline: none;
      }
      .get-header-url {
         display: inline-block;
         margin-top: -5px;
         font-size: 14px;
         cursor: pointer;
         background-color: #f2cb04;
         color: white;
         padding: 3px 5px;
      }
      .url {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         .url-static {
            font-weight: bold;
            font-size: 18px;
            margin-right: 5px;
         }
         .input-url {
            width: 300px;
         }
      }
      .mainPhotoInput {
         position: relative;
         &__label {
            position: absolute;
            background-color: #f2cb04;
            color: white;
            cursor: pointer;
            padding: 8px 4px;
         }
         &__input {
            margin-top: 5px;
            border: none;
            background-color: white;
         }
         &__input:active,
         &__input:focus {
            outline: none;
         }
      }
      .editor-toolbar {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         background-color: rgb(224, 224, 224);
         border: none;
         padding: 10px;
      }
      .editor-input {
         background-color: rgb(255, 255, 255);
         margin-top: 60px;
         height: 70vh;
         padding: 10px;
         width: 100%;
         overflow-y: scroll;
         img {
            max-width: 50%;
         }
      }
      .editor-wrapper {
         background-color: rgb(224, 224, 224);
         border: 1px solid gray;
         border-radius: 3px;
         margin: 20px 0;
         padding: 0;
         position: relative;
         z-index: 3;
      }

      .main-buttons {
         display: flex;
         justify-content: space-around;
         align-items: center;
         box-sizing: border-box;
         .btn {
            width: 100%;
            padding: 10px;
            font-size: 16px;
         }
         .reject {
            color: gray;
            background-color: white;
            border: 1px solid gray;
         }
         .save {
            margin: 0 10px;
            color: #f2cb04;
            background-color: white;
            border: 1px solid #f2cb04;
         }
         .submit {
            color: white;
            background-color: #f2cb04;
            border: 1px solid #f2cb04;
         }
      }
   }
   .form-hidden {
      display: none;
   }

   .result {
      width: 75%;
      margin-top: 20px;

      .result-category {
         border-bottom: 3px solid black;
      }
   }
}
