.news-list {
   margin-top: 10px;

   background-color: white;
   min-height: 80vh;
}
.row {
   margin-bottom: 10px;
   display: flex;
   justify-content: space-between;
}
.send-new {
   &__img {
      width: 20px;
      margin-left: 10px;
   }
}
.send-new {
   color: gray;
   text-decoration: none;
}
.send-new:hover {
   color: #f2cb04;
   text-decoration: none;
}

.news-type {
   background: transparent;
   border: none;
   color: gray;
}
.news-type:focus,
.news-type:active {
   outline: none;
}

.news-type:hover {
   font-weight: bolder;
}

.news-type:disabled {
   color: black;
   font-weight: 600;
   padding-bottom: 2px;
   border-bottom: 2px solid #f2cb04;
}

.page-name {
   color: #f2cb04;
   font-weight: bolder;
}

.search-part {
   display: flex;
   justify-content: flex-end;
   align-items: center;

   .input {
      width: 100%;
      border: 1px solid gray;
      border-radius: 3px;
      padding: 8px 5px;
      outline-color: #182126;
      margin: 0 10px;
      resize: none;
   }
   .article-type {
      width: 100px;
      cursor: pointer;
   }

   .search-container {
      height: 30px;
      border-bottom: 2px solid black;
      &__input {
         background: transparent;
         border: none;
      }
      &__input:focus,
      &__input:active,
      &__btn:focus,
      &__btn:active {
         outline: none;
      }
      &__btn {
         background: transparent;
         border: none;
      }
   }
}
.loader {
   height: 65vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 400px) {
   .row {
      flex-direction: column;
   }
   .page-name,
   .news-type-change,
   .search-container,
   .send-new {
      flex: 100%;
      margin-bottom: 5px;
   }
   .send-new {
      padding-left: 5px;
   }
   .search-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      &__input {
         flex: 90%;
      }
      &__btn {
         flex: 10%;
      }
   }
   .loader {
      height: 60vh;
   }
}
