.Article {
   width: 100%;
   overflow: hidden;
   font-size: 16px;

   img {
      max-width: 80%;
      max-height: 300px;
      display: block;
      margin: 0 auto;
   }
   a {
      color: #f2cb04;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
   }
}
