.info-page {
   background-color: white;
   .main-picture {
      &__picture-container {
         width: 100%;
         height: 400px;
         overflow: hidden;
         position: relative;
         .dark-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #182126a9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            img {
               width: 40%;
               min-width: 300px;
            }
            .links {
               display: flex;
               width: 400px;
               justify-content: space-around;
               margin-top: 10px;
               .link {
                  width: 150px;
                  display: flex;
                  justify-content: center;
                  text-decoration: none;
                  padding: 10px 15px;
                  color: #f2cb04;
                  border: 1px solid #f2cb04;
                  border-radius: 5px;
                  font-size: 16px;
               }
            }
         }

         img {
            width: 100%;
         }
      }
   }
   .roles {
      padding: 50px 20px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      .role {
         width: 300px;
         min-height: 315px;
         padding: 40px 10px;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         background-color: #182126;
         color: white;
         text-align: center;

         .img-container {
            width: 100%;
            display: flex;
            justify-content: center;
            img {
               width: 30%;
            }
         }
      }
   }

   .second-picture-container {
      height: 500px;
   }
}
