.container {
   max-width: 1140px;
   padding-top: 70px;
   margin: 0 auto 0 auto;
}

.background {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100vh;
   background-color: #d7d7d9;
}

.dark-background {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100vh;
   background-color: #182126;
   color: white;
}

.container {
   position: relative;
   z-index: 2;
}
