.container {
   max-width: 1140px;
   padding-top: 70px;
   margin: 0 auto 0 auto;
}

.background {
   width: 100%;
   min-height: 100vh;
   background-color: #d7d7d9;
}

.dark-background {
   width: 100%;
   min-height: 100vh;
   background-color: #182126;
   color: white;
}
