.container{

  max-width: 1140px;
  padding-top: 70px;
  margin: 0 auto 0 auto;
}

.background{
  width: 100vw;
  height: 100vh;
  background-color: #D7D7D9;
}

.dark-background{
  width: 100vw;
  height: 100vh;
  background-color: #182126;
  color: white;
}