.side-list{
  padding: 5px;
  background-color: white;
}
.row{
  display: flex;
  justify-content: space-between;

  .news-type{
    background: transparent;
    border: none;
    color: gray;
  }
  .news-type:focus, .news-type:active{
    outline: none;
  }

  .news-type:hover{
    font-weight: bolder;
  }

  .news-type:disabled{
    color: black;
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 2px solid #F2CB04;
  }
}
